*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header */
.container
{
    height: 80px;
    width: auto;
    background-color: #255ee9;
    position: relative;
}


.box
{
    margin: 0 80px;
}

.logo
{
    position: absolute;
    top: 30%;
}

.menu nav
{
    text-align: center;
    padding: 30px;
}


.menu nav ul li
{
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
}

.menu nav ul li a
{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.button 
{
    border-radius: 40px;
    background-color: white;
    font-size: 14px;
    padding: 7px 16px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: black;
    position: absolute;
    top: 30%;
    right: 7%;
    cursor: pointer;
}

/* fine header */






/* jumbotron */

.jumbotron
{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position:relative
}


.jumbotron .corpo-centrale
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.jumbotron .corpo-centrale .testo h1
{
    font-size: 50px;
    margin-bottom: 20px;
}

.jumbotron .corpo-centrale .testo p
{
    font-size: 18px;
    line-height: 2;
}


.bottoni-corpo-white
{
    border-radius: 28px;
    background-color: white;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: black;
    position: absolute;
    bottom: 18%;
    left: 35%;
    cursor: pointer;
    font-weight: bold;
}

.bottoni-corpo-black
{
    border-radius: 28px;
    background-color: black;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 48%;
    cursor: pointer;
    font-weight: bold;
}

/* fine jumbotron */
/* inizio main */
main section:first-child{
    position: relative;
    padding-top: 100px;
}

.sec-content.pic-sx>*{
    float: left;
}

.sec-content.pic-dx>*{
    float: right;
}

.sec-content .picture{
    width: 50%;
}

.sec-content>div:last-child{
    width: 40%;
}

.sec-content.pic-sx>:last-child{
    padding: 50px 0 0 200px;
}

.sec-content.pic-dx>:last-child{
    padding: 50px 200px 0 0;
}

.sec-title{
    font-size: 40px;
    font-weight: 700;
}

.sec-text{
    line-height: 25px;
    padding-top: 25px;
}

.white-bg{
    background-color: #fff;
}

.grey-bg{
    background-color: #f6f6f6;
}

main{
    background-color: #f6f6f6;
}

main .waves:last-child{
    position: relative;
    top: 5px;
}

main .waves:first-child{
    position: relative;
    top: 0;
}

/* special section */
#special .text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.btn.bl-wh{
    background-color: #8ea1e1;
    color: white;
    border-radius: 30px;
}

#special .btn{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0 100px 0;
}

.sec-sub-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
